@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Fjalla+One&display=swap');

*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    overflow:auto;
}

.navbar div{
    padding: 10px 0;
    width: 100%;
    background-color: black;
}
.navbar img{
    width: 100px;
}

/*----------------------------------------------------------*/

.bg{
    height: 90vh;
    background: url("https://kq-storage.s3.ap-south-1.amazonaws.com/Github/groove-bg%5B1%5D.png");
    background-size: 100% 100%;
}

.bg h1{
    font-size: 3em;
    padding: 250px 0 15px 0;
}

.bg{
    font-weight: 100;
}

.bg button{
    margin-top: 15px;
    width: 150px;
    height: 50px;
    background-color: #27AE60;
    border: 0;
    color: white;
    font-size: 18px;
}
.bg a{
    text-decoration: none;
}
/*--------------------------------------------------*/
table{
    border: 1px solid gray;
    border-collapse: collapse;
}

.tablediv h1{
    margin: 50px 0;
    font-size: 40px;
}

#heading{
    color: white;
    background-color: #27AE60;
}

.tablediv tr td{
    padding: 15px 30px;
}
.tablediv tr:hover{
    background-color: rgb(209, 209, 209);
}
.tablediv tr td img{
    width: 100px;
    height: 100px;
}

.tablediv table{
    margin: auto;
}

.book{
    margin: 20px;
}

.book p, input, button{
    display: block;
    width: auto;
    margin: auto;
    margin-top: 20px;
}

.book input{
    width: 250px;
}

.book button{
    background-color: #27AE60;
    font-weight: bold;
    color: white;
    text-decoration: none;
    width: 130px;
    height: 50px;
    border: 0;
    margin-bottom: 20px;
}

.footer{
    color: white;
    background-color: black;
    height: 40px;
    width: 100%;
    margin: auto;
    padding: 10px;
}